// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

/* Safari 4.0 - 8.0 */
@-webkit-keyframes redAlertAnimation {
  from {background-color: red;}
  to {background-color: black;}
}

@keyframes redAlertAnimation {
  from {background-color: red;}
  to {background-color: black;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes yellowAlertAnimation {
  from {background-color: yellow;}
  to {background-color: black;}
}

@keyframes yellowAlertAnimation {
  from {background-color: yellow;}
  to {background-color: black;}
}

@mixin basicstheme {
  @include valo;

  // Insert your own theme rules here
  .v-button-link:after {
    content: none;
  }

  .face {
    border: 3px solid black;
  }

  .header {
    background-color: palegreen;
  }

  .footer {
    background-color: paleturquoise;
  }

  .navigation {
    background-color: pink;
  }

  .noAlert {
    background-color: green;
  }

  .yellowAlert {
    background-color: yellow;
    -webkit-animation: yellowAlertAnimation 600ms ease-in infinite alternate; /* Safari 4.0 - 8.0 */
    animation: yellowAlertAnimation 600ms ease-in infinite alternate;
  }

  .redAlert {
    background-color: red;
    -webkit-animation: redAlertAnimation 400ms ease-in infinite alternate; /* Safari 4.0 - 8.0 */
    animation: redAlertAnimation 400ms ease-in infinite alternate;
  }
}
